.kitchen-flex {
    width: 800px;
}

.cook-btn {
    margin: 5px;
}

.kitchen-col {
    max-width:800px;
}

.h4 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.events-col {
    margin-left: 20px;
}