.pick-button {
    width: 100%;
}

.ingredient-card {
    margin: 5px;
}

.glowing {
  border: 2px solid #dadada;
  border-radius: 7px;
  border-color: #dcb02d;
  box-shadow: 0 0 10px #dcb02d;
}

/* Diagonal stacked paper effect */
.paper {
    background-color: #fff;
    /* Need position to allow stacking of pseudo-elements */
    position: relative;
  }

.paper,
.paper::before,
.paper::after {
  /* Add shadow to distinguish sheets from one another */
  border-radius: .25rem;
  box-shadow: 2px 1px 1px rgba(0,0,0,0.15);
}

.paper.glowing {
  box-shadow: 0 0 10px #dcb02d,
              2px 1px 1px rgba(0,0,0,0.15) !important;
}

.paper::before,
.paper::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #eee;
}

/* Second sheet of paper */
.paper::before {
  left: 7px;
  top: 5px;
  z-index: -1;
}

/* Third sheet of paper */
.paper::after {
  left: 12px;
  top: 10px;
  z-index: -2;
}